extends layout

block content
  .container
    h1 GitMatched
    p.lead Meet other coders
    form(role='form')
      .form-group
        input.form-control#city(type='text', placeholder='Enter city')
      .form-group
        input.form-control#language(type='text', placeholder='Enter language')
      button.btn.btn-default#search(type='') Search
      br
      br
      #results




